
<div class="container">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <label>Old Password</label>
        <input type="password" name="oldpassword" class="form-control" required ngModel #oldpassword="ngModel">
        <div *ngIf="oldpassword.invalid && (oldpassword.touched || oldpassword.dirty)"  class="alert alert-danger">Old Password Must Enter</div>
      </div>
      <div class="form-group">
          <label>New Password</label>
          <input type="password" name="newpassword" class="form-control" required ngModel #newpassword="ngModel">
          <div *ngIf="newpassword.invalid && (newpassword.touched || newpassword.dirty)" class="alert alert-danger">New Password Must Enter</div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmpassword" class="form-control" required ngModel #confirmpassword="ngModel">
            <div *ngIf="confirmpassword.invalid && (confirmpassword.touched || confirmpassword.dirty)" class="alert alert-danger">Confirm Password Must Enter</div>
          </div>
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
    </form>
    </div>